<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>Optimisation_algorithm</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Optimisation_algorithm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Optimisation_algorithm</servlet-name>
        <url-pattern>/optimisation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Inscription</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Connexion</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Deconnexion</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Deconnexion</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Deconnexion</servlet-name>
        <url-pattern>/deconnexion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Stat</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Stat</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Stat</servlet-name>
        <url-pattern>/stati</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Produit</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Produit</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Produit</servlet-name>
        <url-pattern>/produit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>com.bankeschon.Servlet.Query</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
</web-app>
